.booking {
  background: $blue1;
  border-radius: 25px;
  width: 100%;
  position: relative;
  margin: 0 auto;

  &__item {
    border-bottom: 1px solid $blue2;
    border-right: 0;

    &:last-child {
      border: none;
    }

    @include lg {
      border-bottom: 0;
      border-right: 1px solid $blue2;

      &:last-child {
        border: none;
      }
    }
  }

  &--border--r {
    border-right: 1px solid $blue2;
  }

  &__text {
    color: #ffffff7e;
    font-size: 0.875rem;
  }
  &__num {
    font-size: 3.5rem;
    color: #fff;
    margin-right: 22px;
    text-align: center;
    min-width: 56px;
  }

  &__select {
    color: #fff;
    position: relative;

    &:after {
      background-image: url('@/assets/img/button_onlyDropDown.svg');
      background-size: cover;
      background-repeat: no-repeat;
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      position: absolute;
      right: -20px;
      bottom: 0;
    }
  }

  &__btn {
    background: transparent;
    border: none;
  }

  &__check {
    background: $green;
    color: #333333;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    margin: 47px 0;
    border: none;
    transition: .3s;
    &:hover{
      transform: scale(1.1);
    }
    @include lg {
      margin: 0;
    }
  }

  &__next {
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 50%);
    cursor: pointer;
    transition: .3s;
    &:hover{
      transform: translate(50%, 50%) scale(1.1);
    }
  }

  &__outer {
    width: 100%;
    position: static;
    transform: translate(0, 0);
  }
  .date_outer{
    left:0;
    top: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .mx-datepicker-range{
    width: calc(100% + 20px)!important;
  }
  .mx-calendar-content .cell.active{
    background: $blue1!important;
  }
  .mx-datepicker-popup{
  position: fixed;
  right: 50%!important;
  bottom: 50%!important;
  transform: translate(50%,50%);
}
}