.banner {
  background-image: url("@/assets/img/image_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 880px;
  padding-top: 126px;
  align-items: flex-start;
  margin-bottom: -200px;
  &__content {
    max-width: 329px;
    width: 100%;
    color: #fff;
  }
  &__title {
    font-size: 4.5rem;
    word-wrap: break-word;
  }
  &__text {
    font-size: 1.25rem;
    padding: 1.25rem 0;
  }
  &__link{
      border-radius: 50%;
  }
  @include md{
    padding: 0;
    min-height: auto;
    height: 100vh;
    align-items: center;
    margin-bottom: 0px;

  }
}
.about {
  background: $gray1;
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 320px 0 153px 0;
  &__content {
    max-width: 450px;
    width: 100%;
    color: #333333;
    padding: 0 14px;
  }  
  &__title {
    font-size: 2.5rem;
    word-wrap: break-word;
    @include md{
      font-size: 4.5rem;
    }
  }
  &__text {
    font-size: 1.25rem;
    padding: 1.25rem 0;
    color:   #33333380;
  }
  &__btn{
    color:   #33333380;
    max-width: 170px;
    text-align: center;
    width: 100%;
    border-radius: 24px;
    border: 1px solid #33333380;
    padding: 1rem;
    display: inline-block;
    margin: 40px 0 80px 0;
    @include md{
      margin: 0;
    }    
  }
  @include md{
    padding: 0;
    height: 100vh;
  }
}
