.header{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    color: #fff;
    background: transparent;
    transition: .3s;
    z-index: 10;
    &__logo{
        font-size: 2.5rem;
        color: #fff;
    }
    &__menu{
        position: absolute;
        height: calc(100vh - 80px);
        left: -100%;
        top: 80px;
        max-width: 80%;
        width: 100%;
        background: $blue1;
        transition: .3s;
        transform: translate(0,0);
        z-index: 9;
        &--item{
            a{
                color: #fff;
                padding: .5rem 1.5rem;
                font-size: 1.125rem;
                display: block;
                border-bottom: 1px solid #fff;
                transition: .3s;
                &:hover{
                    background: $blue2;
                }
                @include lg{
                    display: inline;
                    border: none;
                    &:hover{
                        background: transparent
                    }                    
                }
            }
        }
        &.active{
            left: 0;
        }        
        @include lg{
            width: auto;
            max-width: auto;
            height: auto;
            padding: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            &.active{
                left: 50%;
            } 
        }
    }
    &__login{
        color: #fff;
        min-width: 120px;
        text-align: center;
        width: 100%;
        border-radius: 24px;
        border: 1px solid #FFFFFF4B;
        padding: 1rem;
        margin: 0 .5rem;
        transition: .3s;
        background: transparent;
        &:hover{
            background: $blue2;
            color: #fff;
        }
        @include lg{
            min-width: 170px
        }
    }
    &__btn{
        min-width: 48px;
        height: 48px;
        display: block;
        cursor: pointer;
        transition: .3s;
        background: transparent;
        border-radius: 50%;
        &:hover{
            background: $blue2;
        }
        @include lg{
            display: none;
        }
    }
    &.active{
        background: $blue1;
    }
}