@import '@/assets/css/global.scss';
.banner{
    background-image: url('@/assets/img/image_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}